.abv {
    display: flex;
    flex-direction: column;
    width: 2056px;
    max-width: 100%;
    min-width: 100%;
    height: 400px;
    background-color: rgb(180, 80, 180);
opacity: 0.7;
width: 2056px;
max-width: 100%;
min-width: 100%;
height: 400px;
}

.abv2 {
    display: flex;
    flex-direction: column;
    width: 2056px;
    max-width: 100%;
    min-width: 100%;
    height: 600px;
    background-color: rgb(219, 192, 219);
opacity: 0.7;
width: 2056px;
max-width: 100%;
min-width: 100%;
height: 500px;  
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.menu2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    padding-top: 15px;
    height: 200px;
    width: 700px;
    margin-left:auto;
margin-right:auto;
float:center;
}

.button {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-family: 'Caveat', cursive;
    }

    .privetstvie {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 2056px;
        max-width: 100%;
        height: 300px;
        font-weight: 600;
        font-size: 48px;
        color: cornsilk;
        font-family: 'Neucha', cursive;
    }

    .paruslov {
        width: 2056px;
        max-width: 100%;
        height: 70px;
        font-weight: 600; 
        font-size: 32px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: darkmagenta;
        font-family: 'Balsamiq Sans', cursive;
    
        
    }

    .conteiner3 {
        width: 2056px;
        max-width: 100%;
        height: 70px;
        font-weight: 600; 
        font-size: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: darkmagenta;
        font-family: 'Balsamiq Sans', cursive; 
       padding-bottom: 20px;
    }

    .haracter1 {
        width: 2056px;
        max-width: 100%;
        height: 70px;
        font-weight: 600; 
        font-size: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: darkmagenta;
        font-family: 'Balsamiq Sans', cursive; 
        padding-bottom: 20px;
    }
    .haracter2 {
        width: 2056px;
        max-width: 100%;
        height: 160px;
        font-weight: 600; 
        font-size: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: darkmagenta;
        font-family: 'Balsamiq Sans', cursive;  
        font-family: 'Caveat', cursive;
    font-size: 26px;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
   
        }

    .myfoto {
        height:600px;
        width:400px;
        object-fit: contain;
        border-width: 1px;
    border-style: solid;
    border-color: black;
    }

    .osntext {
        width: 800px;
        max-width: 100%;
        height: 70px;
        font-weight: 400; 
        font-size: 26px;
        display: flex;
        justify-content: center;
        color: darkmagenta;
        font-family: 'Caveat', cursive;
    }
.button2 {
    background-color: rgb(111, 238, 210);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-family: 'Caveat', cursive;
    font-size: 26px;
}

.conteiner2 {
    display: flex;
    width: 2056px;
        max-width: 100%;
        width: 2056px;
        height: 600px;
        

}

.conteiner3 {
    display: flex;
    justify-content: space-evenly;
}

.paruslov{
    font-size: 26px;
    color: blueviolet;
}
h2{
    font-size: 26px;
    color: rgb(255, 255, 255);  
}
a{
    font-size: 26px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.work {
    width: 2056px;
        max-width: 100%;
        height: 160px;
        font-weight: 600; 
        font-size: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: darkmagenta;
        font-family: 'Balsamiq Sans', cursive;  
        }
.work2{
    height: 220px;
    width: 140px;  
    display: flex; 
    
    
    
}

.workO {
    width: 2056px;
    max-width: 100%;
    height: 270px;
    width: 1024px;  
    display: flex; 
    align-items: flex-end;
}

.otzivi {
    width: 2056px;
        max-width: 100%;
        height: 70px;
        font-weight: 600; 
        font-size: 24px;
        display: flex;
        justify-content: center;
        color: darkmagenta;
        font-family: 'Balsamiq Sans', cursive; 
        margin-top: 70px;
        }

        .kontakt {
            width: 2056px;
            max-width: 100%;
            height: 70px;
            font-weight: 600; 
            font-size: 24px;
            display: flex;
            justify-content: center;
            color: darkmagenta;
            font-family: 'Balsamiq Sans', cursive; 
            margin-top: 70px;  
        }

        .kontakt2 {
            display: flex;
            flex-direction: column;
            background-color: rgb(180, 80, 180);
            width: 2056px;
            max-width: 100%;
            min-width: 100%;
            height: 220px;
                       
                }

                .WA {
                    
                   
padding-top: 10px;
padding-left: 15px;
padding-bottom: 10px;
font-size: 26px;
    color: rgb(255, 255, 255);
                }

                .TG {
                    padding-top: 10px;
                    padding-left: 15px;
                    padding-bottom: 10px;
                    font-size: 26px;
    color: rgb(255, 255, 255);
                }

                .IG {
                    padding-top: 10px;
                    padding-left: 15px;
                    padding-bottom: 10px;
                    font-size: 26px;
    color: rgb(255, 255, 255);
                }
        .otzivi2 {
            height: 400px;
            width: 200px;
            display: flex;
                           
                }

                .myfoto2 {
                    height:400px;
                    width:270px;
                    border-width: 1px;
                border-style: solid;
                border-color: black;
                }

                .icon1 {
                    height: 48px;
                    width: 48px;
                    font-size: 26px;
                    color: rgb(255, 255, 255);
                    opacity: 0.7;
                   
                }